body {
  margin: 5px 0;
}

small {
  font-size: 75%;
}

a,
a:hover {
  color: black;
}

.container {
  padding: 0;
  max-width: 1000px;
}

.content {
  padding: 10px 15px;
  line-height: 1.5;
  background-color: rgb(246, 246, 239);
}

.header {
  margin: 0;
  padding: 3px 5px;
  background-color: rgb(255, 102, 0);
}

.header .brand {
  font-weight: bold;
}

.header a {
  margin: 0 2px;
}

ol,
ul ul {
  padding: 0 15px;
}

ol ol, 
ul ul {
  margin-top: 10px;
}

ul {
  padding: 0;
  list-style: none;
}

.list-item,
.list-item p {
  margin-bottom: 5px;
}

.header a,
.list-item a,
.list-item {
  text-decoration: none;
}

small a,
small a:hover,
.list-item small a,
.list-item small {
  color: gray;
}

.list-item small a:hover {
  text-decoration: underline;
}
